*
    font-family "Proxima Nova"

@import "blocks/*"

.search-container
	margin 20px

div[class^="options_"]
	display none

.center
	text-align center

.teaser
	width 150px
	height 150px
	font-size 12px
	bottom 20px

.caption
	padding 2px

.pic
	margin 10px