doctype html
html(lang="es")
    head
        title Finder challenge
        meta(charset="utf-8")
        meta(viewport="width=device-width, initial-scale=1.0")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        link(href="https://fonts.googleapis.com/css?family=Proxima+Nova", rel="stylesheet", type="text/css")
        script(src="/vendor/bootstrap/dist/js/bootstrap.js")
        link(href="/vendor/bootstrap/dist/css/bootstrap.css", rel="stylesheet")        
        link(href="/styles/index.css", rel="stylesheet")
        script(src="/vendor/awesomplete/awesomplete.min.js")
        link(href="/vendor/awesomplete/awesomplete.css", rel="stylesheet")

    body
        .container
            .row
                .col-md-4 
                    h1.logo Finder challenge
                .col-md-8
                    include blocks/search-form
            aside.col-md-4 
                include blocks/search-save-list
                br
                include blocks/search-category-list
                br
                include blocks/search-languages-list
                br
                include blocks/search-edition-list
                br

            content.col-md-8
                include blocks/search-result 
                br
            footer.col-md-12
                include blocks/footer-content

        //- third party libraries
        script(src="/vendor/underscore/underscore-min.js")

        //- app scripts self
        script(src="/scripts/global.js")
        script(src="/scripts/search-form.js")
        script(src="/scripts/search-load.js")
        script(src="/scripts/app.js")